/docker/data/.composer/*
/docker/data/mysql/*
/docker/data/postgresql/*
/docker/logs/mysql/*
/docker/logs/postgresql/*
!/docker/data/.composer/.gitkeep
!/docker/data/mysql/.gitkeep
!/docker/data/postgresql/.gitkeep
!/docker/logs/mysql/.gitkeep
!/docker/logs/postgresql/.gitkeep

/vendor
